
@font-face {
  font-family: 'UTMBanqueBold';
  src: url('../fonts/UTMEremitage/UTMEremitage.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMEremitage/UTMEremitage.woff') format('woff'), url('../fonts/UTMEremitage/UTMEremitage.ttf')  format('truetype'), url('../fonts/UTMEremitage/UTMEremitage.svg#../fonts/UTMEremitage/UTMBanqueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Light/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light/Roboto-Light.ttf')  format('truetype'), url('../fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------------------------------------*/
/*DEFAULT*/
/*------------------------------------------------------------------*/
body{
	font-family: 'Roboto-Light';
}
.fl{font-family: 'Roboto-Light';}
.fb{font-family: 'Roboto-Bold';}
.fmenu{font-family: 'UTMBanqueBold';}
.fs-12{font-size: 12px;}
.fs-16{font-size: 16px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px}
.text-red{color: #ed1c24;}
.text-blue{color: #00334c;}
.text-gray{color: #646464;}
.text-white{color: #fff;}

.box-shadow-default{
	-webkit-box-shadow: 0px -14px 98px -8px rgba(177, 177, 177, 0.75);
    -moz-box-shadow: 0px -14px 98px -8px rgba(177, 177, 177, 0.75);
    box-shadow: 0px -14px 98px -8px rgba(177, 177, 177, 0.75);
}
.banner-img img{width: 100%}
/*------------------------------------------------------------------*/
/*HEADER*/
/*------------------------------------------------------------------*/
.social-link a{display: inline-block !important;}
.social-link a:first-child{margin-right: 10px;}
.social-link{position: relative;}
.social-link:before{
	background: #00334c;
    position: absolute;
    content: "";
    width: 1px;
    height: 30px;
    left: 0;
}
.main-menu nav > ul > li + li.social-link{  
	padding-top: 50px;
    padding-left: 30px;
}

.excerpt{    
	font-size: 18px;
    line-height: 24px;
    max-width: 461px;
}
@media(max-width: 992px){
	.social-link:before{background: none;}
}
/*------------------------------------------------------------------*/
/*EVENT SLICK*/
/*------------------------------------------------------------------*/
.blog-slick-box{
	position: relative;
}
.slick-nav .slick-nav-left, .slick-nav .slick-nav-right, .slick-nav .slick-nav-left-2, .slick-nav .slick-nav-right-2{display: inline-block;cursor: pointer;}
.blog-slick-box .slick-nav .slick-nav-left{
	width: 40px;height: 39px;background: url(../_images/icon/3.png) no-repeat;background-position-x: 5px;
}
.blog-slick-box .slick-nav .slick-nav-right{
	width: 40px;height: 39px;background: url(../_images/icon/3.png) no-repeat;background-position-x: -47px;
}
.news-blog-slick-box{position: relative;}
.news-blog-slick-box .slick-nav .slick-nav-left-2{
	width: 32px;height: 31px;background: url(../_images/icon/4.png) no-repeat;background-position-x: 0px;
}
.news-blog-slick-box .slick-nav .slick-nav-right-2{
	width: 32px;height: 31px;background: url(../_images/icon/4.png) no-repeat;background-position-x: -34px;
}
/*------------------------------------------------------------------*/
/*NEWS*/
/*------------------------------------------------------------------*/
.news-blog .news-blog-img{display: table-cell;width: 50%;vertical-align: top;}
.news-blog .news-blog-content{display: table-cell;width: 50%;vertical-align: top;padding-left: 25px;}
.news-blog .blog-item{margin:auto; }
.news-blog .blog-item h5{font-size: 22px;color: #5f5f5f;}
.news-blog .blog-item .description{margin-bottom: 25px;}
.news-blog .blog-item .description p{font-size: 14px;}

.news .blog-item {margin:0px;margin-bottom:35px;padding: 0;}
.news .blog-item .image img{margin: 0;}
.news .blog-item .title{margin-top: 25px;}
.news .blog-item h5{font-size: 22px;color: #5f5f5f;}
.news .description{margin-bottom: 15px;}


.intro-blog .blog-item{position: relative;margin: auto;}
.intro-blog .blog-content-pos{position: absolute;padding: 50px 10px 10px 137px;z-index: 1;top: 0;}
.intro-blog .blog-item .image::before{background-color: #00334c;opacity: 0.7;}
.intro-blog .blog-item:hover .image::before{background-color: #00334c;opacity: 1;}
.intro-blog .blog-item .image::after{border:0;}
.intro-blog .blog-item .image img{margin:0; }
.intro-blog .blog-item .title{color: #fff;margin-bottom: 10px;}
.intro-blog .blog-item .description p{margin-bottom: 0;}
.intro-blog .blog-feature{margin-bottom: 15px;}


.product-blog .blog-item{margin: 0 0 35px;}
.product-blog .blog-item .image img{margin: 0;}
.product-blog .blog-item .title{margin-top: 22px;color: #ed1c24;}


.service-blog .blog-item{margin: 0 0 35px;}
.service-blog .blog-item .image img{margin: 0;}
.service-blog .blog-item .title{font-size: 30px;margin: 35px 0 24px;color: #000;}
.service-blog .blog-item .description .blog-feature{margin-bottom: 22px;}
.service-blog .blog-item .description a{color:#ed1c24;}

/*------------------------------------------------------------------*/
/*FORM*/
/*------------------------------------------------------------------*/
.form-default-max-w{max-width: 814px;}
#contact-form .col-sm-6{padding: 0 10px;}
@media(min-width: 768px){
	.form .input-submit{margin-top: 90px;}
}

/*------------------------------------------------------------------*/
/*TABS*/
/*------------------------------------------------------------------*/
.tabs-small{margin-top: 70px;}
.tabs-small .nav-tabs > li > a{font-size: 18px;}
.tabs-small .nav-tabs > li.active > a, .tabs-small .nav-tabs > li.active > a:hover, .tabs-small .nav-tabs > li.active > a:focus{font-size: 18px;}
/*------------------------------------------------------------------*/
/*FOOTER*/
/*------------------------------------------------------------------*/
.footer-left{display: inline-block;}
.footer-right-info{display: inline-block;padding-left: 35px;margin-left: 35px;border-left: 1px solid #fff;max-width: 380px;vertical-align: top;}

/*------------------------------------------------------------------*/
/*SUPPORT*/
/*------------------------------------------------------------------*/
.menuFixed{position:fixed;top:50%;right:0;-webkit-transform:translate(0%,-50%);-moz-transform:translate(0%,-50%);-o-transform:translate(0%,-50%);-ms-transform:translate(0%,-50%);transform:translate(0%,-50%);z-index:500;cursor:pointer;overflow:hidden;pointer-events:none;}
.menuFixed li{display:block;position:relative;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;color:#ffffff;width:100%;height:0;right:0;clear:both;}
.menuFixed li a{color:#ffffff;}
.menuFixed li .divText{display:block;position:relative;float:left;width:100%;height:50px;padding-right:50px;z-index:1;background-color:#0c121c;border-top:1px solid #35312f;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;transform:translateX(100%);-webkit-transform:translateX(100%);-ms-transform:translateX(100%);-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;pointer-events:auto;border-left:1px solid #0c121c;}
.menuFixed.show li .divText{transform:translateX(0%);-webkit-transform:translateX(0%);-ms-transform:translateX(0%);}
.menuFixed li:hover .divText{background-color:#ffffff;color:#0c121c;}
.menuFixed li .divText span{color:#ffffff;}
.menuFixed li:hover .divText span{color:#0c121c;}
.menuFixed li .divText > span{display:block;font-size:14px;line-height:23px;padding:13px 10px 0 25px;}
.menuFixed li .divText .social{padding:0;}
.menuFixed li .divText .social > span{float:left;display:block;width:50px;height:50px;font-size:18px;position:relative;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
.menuFixed li .divText .social > span i{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.menuFixed li .divText .social .facebook:hover{background:#305891;}
.menuFixed li .divText .social .google:hover{background:#d34836;}
.menuFixed li .divText .social .plug:hover{background:#4A4F54;}
.menuFixed li .divIcon{position:absolute;display:block;z-index:1;width:49px;height:50px;top:0;right:0;background-color:#0c121c;border-top:1px solid #35312f;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;background-repeat:no-repeat;background-position:50% 50%;pointer-events:auto;border-right:1px solid #0c121c;}
.menuFixed li .divIcon:before{position:absolute;font-size:18px;line-height:24px;color:#ffffff;      /*font-family: "fontawesome";*/font-family:'IcoFont'!important;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.menuFixed li:hover .divIcon:before{color:#0c121c;}
.menuFixed li:hover .divIcon{background-color:#ffffff;color:#0c121c;}
.menuFixed li:hover{background-color:#ffffff;color:#333333;}
.menuFixed li.liShare:hover .divText,.menuFixed li.liShare:hover .divIcon{background-color:#0c121c;color:#ffffff;}
.menuFixed li.liShare:hover .divIcon:before{color:#ffffff;}
.menuFixed li:hover a{color:#333333;}
.menuFixed li:hover .divText .social a{color:#ffffff;}
.menuFixed li .formSearch .btn{width:100%;height:100%;background:transparent;outline:none;border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;text-indent:-9999px;}
.menuFixed li .formSearch .text_search{width:100%;height:100%;border:none;background-color:transparent;outline:none;padding:0px 0px 0px 25px;height:50px;color:#ffffff;}
.menuFixed li:hover .formSearch .text_search{color:#333333;}