
@font-face {
  font-family: 'UTMBanqueBold';
  src: url('UTMBanqueBold.eot?#iefix') format('embedded-opentype'),  url('UTMBanqueBold.woff') format('woff'), url('UTMBanqueBold.ttf')  format('truetype'), url('UTMBanqueBold.svg#UTMBanqueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
