
@font-face {
  font-family: 'UTMEremitage';
  src: url('UTMEremitage.eot?#iefix') format('embedded-opentype'),  url('UTMEremitage.woff') format('woff'), url('UTMEremitage.ttf')  format('truetype'), url('UTMEremitage.svg#UTMEremitage') format('svg');
  font-weight: normal;
  font-style: normal;
}
